<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de redefinir senha</title>
    <link rel="stylesheet" href="css/redefinirsenha.css">
</head>
<body class="redefinirSenha">
    
    <div class="login-container">
        <h2>Redefinir Senha</h2>
        <form id="login-form">
            <div class="form-group">
                <label for="senha">Nova Senha:</label>
                <input type="password" id="senha" name="senha" required>
            </div>
            <div class="form-group">
                <label for="senha">Confirme a Senha:</label>
                <input type="password" id="confirm-senha" name="confirm-senha" required>
            </div>
            <button type="submit">Redefinir</button>
        </form>
    </div>



    <script th:src="@{/js/redefinirsenha.js}"></script>
</body>
</html>